html {
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Noto Serif SC', serif;
}

main {
    background-color: transparent !important;
}

#main {
    position: relative;
}

.event-img {
    max-width: 100% !important;
}

#main:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/images/church-157066_1280.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

/* Form */
#contactDetails {
    display: flex;
    flex-flow: row wrap;
}

.form-wrapper,
.event-wrapper {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}

form#bookEvent {
    border: solid 1px white;
    border-radius: 5px;
    padding: 20px 50px;
    margin: 0 auto;
    width: 75%;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-size: 1.25em;
}

.room-img {
    width: 200px;
    height: 150px;
}

input[type="text"],
textarea {
    padding: 10px;
    width: 45%;
    float: left;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(158, 155, 155, 0.4);
    box-shadow: grey;
    border: none;
    color: aliceblue;
    font-size: 1em;
}

input[type="text"]:focus,
textarea:focus {
    outline: none !important;
    border: 1px solid #76749b;
    box-shadow: 0 0 1px #76749b;
}

textarea {
    height: 100px;
    resize: none;
}

label {
    float: left;
    width: 55%;
    font-family: 'Noto Serif SC', serif;
    font-size: 1.15em;
}

#roomChoice span {
    display: inline-block;
}

#roomChoice input {
    display: block;
}

#roomChoice label {
    display: block;
    width: 100%;
}

#bookEvent fieldeset {
    border: none;
    margin-bottom: 10px;
}

.accomodation {
    clear: both;
    margin-top: 20px;
    background: black;
}

#bookEvent select,
#bookEvent option {
    background: transparent;
    color: #ccc;
    padding: 5px;
}

.btn {
    background: none;
    border: 1px solid #ccc;
    padding: 10px;
    color: #ccc;
    transition: 0.5s;
}

.btn:hover {
    color: red;
    border: 1px solid red;
}

/* Form Validation */
.required {
    float: right;
    color: red;
}

.error {
    border: 1px solid red;
    box-shadow: 0 0 10px red;
    border-radius: 0;
}

/* Confirmation */
#confirmation {
    display: none;
}

#confirmation h2,
#confirmation h3 {
    display: block;
    border-bottom: solid 1px #ccc;
}

#confirmation .thanks {
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}

.crossed {
    text-decoration: line-through;
}

/* Past Events */

#eventDetails ol {
    display: flex;
    padding: 0;
}

#eventDetails label,
#eventDetails select {
    display: block;
}

#eventDetails ol li {
   flex-basis: 33%;
}

.modal {
    cursor: pointer;
}

.event-img {
    transition: 0.4s;
    height: auto;
}

#eventLink li {
    flex-flow: row wrap;
    width: 500px;
}

#eventLinks {
    display: flex;
    width: 980px;
}

/* Modal Styling */
.event-img:hover,
.room-img:hover {
    opacity: 0.7;
}

#modal-image-area {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size:
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
