/* General Classes */
.page-wrapper {
    width: 80%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.jumbotron {
    background-color: #e9ecef;
    padding: 64px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    margin-bottom: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* End of general classes */

/* Jumbotron */
#careers-jumbotron h1 {
    font-size: 3.5rem;
    font-weight: lighter;
}

#careers-jumbotron h1 span{
    font-style: italic;
    font-size: 1.5rem;
    display: block;
}

#careers-jumbotron p {
    margin-top: 50px;
    font-size: 1.25rem;
    font-weight: lighter;
}


/* For trial with image */
/* #careers-banner {
    background-color: #575757;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#careers-banner img {
    width: 100%;
    height: auto;
}

#careers-banner-text {
    padding-bottom: 50px;
}

#banner-title {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.careers-banner-text {
    font-size: 20px;
    margin: 0;
} */
/* End of trial with image */


/* Careers listing */
#careers-listing h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

#careers-listing h3 {
    border: 1px solid #808080;
    padding: 10px 0 10px 10px;;
    margin: 5px 0 10px;
    background-color: #dfdfdf;
}

#careers-accordion {
    width: 60%;
    margin: auto;
}

#careers-accordion div {
    padding: 10px 0 20px;
}

.accordion-text {
    display: none;
}

.accordion-bg-color {
    background-color: #5ecbff!important;
}