#main {
    margin:0;
    padding: 1em;
}

.container {
    padding: 1em;
    width: 80%;
}

.accordion-text {
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[class^="menu-text"] {
    padding: 1em;
}

[class^="menu-item"] img {
    padding: 1em;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

[class^="menu-item"] {
    display: flex;
    flex-flow: nowrap;
}

h4 {
    letter-spacing: 1px;
    font-size: 16pt;
}

[class^="dish-desc"] {
    display: block;
    letter-spacing: 1px;
    font-size: 14pt;
}

/* STYLING THE MODAL IMAGE FUNCTIONALITY */

.dish-img {
    cursor: pointer;
}

.dish-img:hover {
    opacity: 0.7;
}

#modal-image-area {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

#modal-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
